# Ignore virtual environments
venv*/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Model files and binaries
*.safetensors
*.pt
*.bin
*.h5

# Jupyter checkpoints
.ipynb_checkpoints

# Streamlit files
.streamlit/
